
.dashboard {
  margin: 2% 5%;
}

.dashboard-cover {
	padding: 2em;
  background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
  height: 20%;
}

.dashboard-profile {
  width: 80%;
  margin: -70px auto 0 auto;
  padding: 5%;
  background: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
}

.dashboard-profile-picture {
  margin-top: 2em;
  width: 128px;
  height: 128px;
  display: inline-block;
  background-size: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 100%;
}

.dashboard-profile-name {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: #333;
}

.dashboard-profile-info {
  font-size: 16px;
  font-weight: lighter;
  color: #808080;
}

.dashboard-profile-membersince {
  font-size: 12px;
  font-weight: lighter;
  color: #808080;
  text-transform: uppercase;
}

.dashboard-section-title {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 50px;
  margin-bottom: 0;
}

.dashboard-nodes-filter {
  margin-top:20px;
  margin-bottom: 20px;
}

.dashboard-ads {
  margin-top: 2em;
}

.dashboard-ad {
  position: relative;
}

.dashboard-ad-pic {
  width: 100%;
  border-radius: 6px;
}

.dashboard-ad-title {
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
}

.dashboard-ad-thmb {
  width: 64px;
  height: 64px;
  border: 3px solid white;
  border-radius: 100%;
  position: absolute;
  top: -5px;
  right: -5px;
  background: gray;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

a.dashboard-ads-add, a.dashboard-ads-add:active, a.dashboard-ads-add:visited,
a.dashboard-node-add, a.dashboard-node-add:active, a.dashboard-node-add:visited {
  background-color: #9b5cfe;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  font-size: 18px;
  padding: 15px 40px 15px 60px;
  color: white;
  margin-top: 20px;
}

a.dashboard-node-add:hover,
a.dashboard-ads-add:hover {
  color: white;
  background-color: #EC008C;
}

.dashboard-node-add:after,
.dashboard-ads-add:after {
  content:"+";
  position:absolute;
  top: 2px;
  left: 20px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 36px;
  width: 30px;
  height: 30px;
}

.node {
  width: 100%;
  cursor: auto;
}

.adcampaign-add {
  background: #F4F4F4;
  padding: 30px 0;
}

.adcampaign-add-wrapper {
  max-width: 480px;
  margin: auto;
}

.adcampaign-add-wrapper h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
  color: #999999;
}

#adcampaign-add-form {
  border-radius: 10px;
  background: white;
  padding: 20px 30px;
}

#adcampaign-add-form .input-group {
  display: block;
}

#adcampaign-add-form input,
#adcampaign-add-form select,
#adcampaign-add-form textarea {
  display: block;
  width: 100%;
}

#adcampaign-add-form label {
  display: block;
  color: #444444;
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

#adcampaign-add-form .btn-position {
  display: inline-block;
}

#adcampaign-add-form .errorlist {
  color: red;
}

.modal-iframe {
  width: 100%;
  min-height: 300px;
  border: none;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.modal-dialog {
  width: 360px;
  margin: auto;
}

.position-selected, .resource-selected {
  margin-bottom: 15px;
}

.position-selected img, .resource-selected img {
  float: left;
  width: 80px;
  margin-right: 10px;
}

.rtl .position-selected img, .rtl .resource-selected img {
  float: right;
}

.position-selected span, .resource-selected span {
  float: left;
  width: calc(100% - 90px);
  font-family: "Quicksand", sans-serif;
  color: #666666;
  font-size: 0.9em;
}

.rtl .position-selected span, .rtl .resource-selected span {
  float: right;
}

.field-label {
  font-weight: bold;
}

.metadata-embeds {
  height: 24px;
}

.metadata-embed{
  display: block;
  color: #915AFF;
}

.metadata-embed-one {
  display: block;
}

.metadata-embed-one,
.metadata-embed-one:link,
.metadata-embed-one:visited,
.metadata-embed-one:hover,
.metadata-embed-one:active {
  color: white;
}

.metadata-embed-all {
  position: absolute;
  left: 10px;
  bottom: 20px;
  width: calc(100% - 60px);
  padding: 20px;
  background-color: #2f2f59;
  color: white;
  border-radius: 10px;
  z-index: 100;
  display: none;
}

.metadata-embeds:hover .metadata-embed-all {
  display: block;
}

.metadata-extra {
  position: relative;
}

.metadata-extra-menu {
  position: absolute;
  right: 0;
  top: 20px;
}

.rtl .metadata-extra-menu {
  right: auto;
  left: 0;
}

.metadata-extra-menu-button {
  width: 40px;
  height: 30px;
  background-image: url('../img/button-more.png');
  background-position: center center;
  background-size: 100% 100%;
  float: right;
}

.metadata-extra-menu-menu {
  position: absolute;
  z-index: 100;
  bottom: 35px;
  right: 0;
  width: 160px;
  padding: 10px 0 10px 0;
  margin: 10px 0 0 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
  clear: both;
  background: #915AFF;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.rtl .metadata-extra-menu-menu {
  right: auto;
  left: 0;
}

.metadata-extra-menu-menu li {
  list-style-type: none;
  padding: 8px 12px;
  cursor: pointer;
}

.metadata-extra-menu-menu li:hover {
  background: rgba(0,0,0,0.5);
}

#dialog-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.95)
}

#dialog-ifr, #dialog-del {
  position: absolute;
  top: 20vh;
  left: calc(50% - 180px);
  width: 280px;
  padding: 20px 40px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.9);
  border-radius: 15px;
}

#dialog-ifr {
  left: calc(50% - 200px);
  width: 320px;
}

#dialog-ifr-code {
  width: 100%;
}

.dialog-action {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #915AFF;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#dialog-actions-execute {
  background-color: #EFEFEF;
  color: black;
}

.dialog-action:hover, #dialog-actions-execute:hover {
  background-color: black;
  color: white;
}


.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  float: right;
}

.rtl .switch {
  float: left;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #9b5cfe;
}

input:focus + .slider {
  box-shadow: 0 0 1px #9b5cfe;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-label {
  float: right;
  margin-right: 10px;
  height: 34px;
  line-height: 34px;
}

.rtl .switch-label {
  float: left;
  margin-right: 0;
  margin-left: 10px;
}

.croppie-container {
  margin: -155px 0 0 0;
  text-align: center;
  display: block;
  position: relative;
  visibility: hidden;
}

#label_id_picture_0 {
  background-color: #ccc;
  border: none;
  border-radius: 100px;
  mix-blend-mode: normal;
  color: white;
  font-family: "Quicksand";
  font-size: 3vw;
  padding: 1.5vw;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  cursor: pointer;
  margin: 200px auto 20px auto;
  display: block;
  width: 100px;
  z-index: 100;
  position: relative;
}

#avatarimg {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px 4px rgb(0 0 0 / 25%);
}

#profile_form #avatarimg {
  border: 3px solid white;
  cursor: pointer;
}

#label_id_name {
  display: none;
}

.input-group-picture {
  display: none;
}

#profile_form {
  display: none;
}


#profile_form input {
  border-radius: 5px;
  border-color: #9b5cfe;
  padding: 5px;
  text-align: center;
}

#profile_form_submit {
  padding: 10px 20px !important;
  background-color: #9b5cfe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-family: "Quicksand";
  font-size: 1.2em;
}

#profile-static, #profile_form, {
  position: relative;
}

#profile-edit-but, #profile-close-but {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#profile-form-loader {
	width: 100px;
	height: 60px;
	background-color: transparent;
	background-image:url('../img/player-loader.svg');
	background-size: 60px 60px;
	background-position: center center;
	background-repeat: no-repeat;
  margin: auto;
  display: none;
}

.dashboard-node-stats-wrapper {
  padding: 1.8vw;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
  background: white;
}

.dashboard-node-stats-info {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 1.2vw;
}

.dashboard-node-stats-wrapper .node {
  width: 100%;
  display: flex;
  box-shadow: none;
}

.dashboard-node-stats-wrapper .node:hover {
  transform: none;
}

.dashboard-node-stats-wrapper .node .controlbar {
  margin: 0;
}

.dashboard-node-stats-wrapper .node .playstopbutton-container {
  top: calc(50% - 50px);
  right: -25px;
  width: 75px;
  height: 75px;
  background: white;
  border-radius: 100%;
}

.dashboard-node-stats-wrapper .node .playstopbutton-container .nodetypebutton {
  width: 70%;
  height: 70%;
  position: inherit;
  left: auto;
  top: auto;
}

a.dashboard-action-but, a.dashboard-action-but:active, a.dashboard-action-but:visited,
a.dashboard-action-but, a.dashboard-action-but:active, a.dashboard-action-but:visited {
  background-color: none;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  font-size: 18px;
  padding: 15px 40px;
  color: #1c1b34;
  margin-top: 20px;
  border: 1px solid #1c1b34;
  transition: all 0.3s ease-out;
}

a.dashboard-action-but:hover {
  color: white;
  background: #8f4cff;
  transition: all 0.3s ease-out;
}

.dashboard-node-stats-stats {
  margin-top: 2vw;
}

.dashboard-node-stats-tabs {
  display: flex;
  gap: 2em;
  border-bottom: 1px solid #dcdcdc;
}

.dashboard-node-stats-tab {
  margin-bottom: 0;
  padding-bottom: 20px;
  cursor: pointer;
}

.dashboard-node-stats-tab-selected {
  color: black;
  border-bottom: 3px solid #743afb;
}

#dashboard-node-stats-overview {
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
  padding-top: 1em;
}

.dashboard-node-stats-ovr-block {
  flex-grow: 1;
  width: 30%;
  border: 1px solid #dcdcdc;
  margin-top: 1em;
  padding: 1%;
  border-radius: 10px;
}

.dashboard-node-stats-ovr-block h4 {
  margin: 0 0 1em 0;
}

.dashboard-node-stats-ovr-block h2 {
  color: #09052e;
}

#dashboard-node-stats-useract {
  font-weight: normal;
  border: 1px solid #dcdcdc;
  border-radius: 15px;
  margin-top: 2em;
  color: #292945;
  font-size: 0.9em;
}

#dashboard-node-stats-useract h4 {
  text-transform: uppercase;
  margin: 1.6em;
}

#dashboard-node-stats-useract table {
  margin-left: 1em;
  font-size: 0.9em;
}

#dashboard-node-stats-useract table td,  #dashboard-node-stats-useract table th {
  padding: 8px;
  text-align: left;
}

#dashboard-node-stats-useract table th {
  text-transform: uppercase;
  border-bottom: 1px solid #dcdcdc;
}

#dashboard-node-stats-useract table td {
  font-weight: normal;
  border: none;
}

#dashboard-node-stats-useract tr {
  border: none;
}

#dashboard-node-stats-useract tr:nth-child(2n) {
  background-color: #f7f9fb;
}

#dashboard-node-stats-useract .avatarimg {
  width: 24px;
  height: 24px;
  border-radius: 100px;
}

.date-picker-container {
    position: relative;
    display: inline-block;
}

.date-field {
    background: white;
    border: 2px solid #e1e5e9;
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease;
    user-select: none;
}

.date-field:hover {
    border-color: #8f4cff;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.15);
}

.date-field.active {
    border-color: #007bff;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
}

.dropdown-arrow {
    margin-left: 8px;
    transition: transform 0.2s ease;
}

.dropdown-arrow.rotated {
    transform: rotate(180deg);
}

.date-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 2px solid #e1e5e9;
    border-top: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.2s ease;
}

.date-dropdown.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content {
    padding: 20px;
}

.date-row {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    align-items: center;
    flex-direction: column;
}

.date-input-group {
    flex: 1;
}

.date-input-group label {
    display: block;
    font-size: 12px;
    color: #666;
    margin-bottom: 6px;
    font-weight: 500;
}

.date-input-group input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.2s ease;
}

.date-input-group input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.1);
}

.button-row {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 500;
}

.btn-cancel {
    background: #f8f9fa;
    color: #666;
}

.btn-cancel:hover {
    background: #8f4cff;
}

.btn-apply {
    background: #8f4cff;
    color: white;
}

.btn-apply:hover {
    background: #0056b3;
}

.btn-apply:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.current-params {
    margin: 20px 50px;
    padding: 16px;
    background: white;
    border-radius: 8px;
    border-left: 4px solid #007bff;
}

.current-params h3 {
    margin-bottom: 8px;
    color: #333;
}

.current-params p {
    color: #666;
    font-family: monospace;
}


@media only screen and (min-width: 560px) {

}


@media only screen and (min-width: 768px) {
  .dashboard-profile {
    width: 200px;
    padding: 30px;
    margin-top: 0;
    position: absolute;
    left: 5%;
    top: 75px;
    margin-top: 5%;
  }
  .rtl .dashboard-profile {
    left: auto;
    right: 5%;
  }
  .dashboard {
    margin-left: calc(5% + 360px);
    margin-right: 20px;
  }
  .rtl .dashboard {
    margin-right: calc(5% + 360px);
    margin-left: 20px;
  }
  .dashboard-ad {
    width: 45%;
    margin: 1em 2% 1em 0;
    float: left;
  }
  .rtl .dashboard-ad {
    float: right;
  }
  .dashboard-ads-add {
    float: left;
    margin-left: 20px;
  }
  .rtl .dashboard-ads-add {
    float: right;
  }
  .rtl .dashboard-nodes-filter {
    float: left;
  }
  .dashboard-nodes-filter {
    float: right;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .rtl .dashboard-nodes-filter {
    float: left;
  }
  .dashboard-nodes-title {
    float: left;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .rtl .dashboard-nodes-title {
    float: right;
  }

  .node {
    width: 45%;
  }

}

.action-buttons {
	right: auto;
  left: 10px;
	top: -2px;
}

.current-params {
    display: none;
}


@media only screen and (min-width: 1140px) {
  .node {
    width: 30%;
  }
  .dashboard-ad {
    width: 30%;
  }
}


@media only screen and (min-width: 1600px) {
  .node {
    width: 22%;
  }
  .dashboard-ad {
    width: 22%;
  }
}
