body {
  padding: 0;
  margin: 0;
}

.main-container {
  width: 100%;
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.edit-button {
  background-color: #2A343D;
  color: white;
  font-size: 0.8em;
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 3px -2px rgba(0,0,0,0.3);
  cursor: pointer;
  margin-top: 10px;
}

.toolbox-left {
  position: fixed;
  top: 120px;
  left: 0;
  padding: 10px 10px 10px 10px;
  background-color: rgba(255,255,255,1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 20px;
  z-index: 1000;
}

.toolbox-right {
  position: fixed;
  top: 120px;
  right: 0;
  padding: 10px 10px 10px 10px;
  background-color: rgba(255,255,255,1);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1000;
}

.toolbox-left, .toolbox-right {
  box-shadow: 2px 2px 30px -3px rgba(180,180,226,0.4);
}

.toolbox-title {
  color: #666694;
  font-weight: normal;
  margin: 10px 20px;
}

.toolbox-library-items,
.toolbox-object-items {
  padding: 20px;
  max-width: 120px;
}

.toolbox-library-item {
  width: 100px;
  height: 75px;
  border-radius: 5px;
  background-color: #F3F2FF;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
}

.toolbox-hidden {
  display: none;
}

#toolbox-object-image-img,
#toolbox-object-text-img,
.toolbox-object-but {
  float: left;
}

#toolbox-object-image-img {
  padding: 6px;
  border: 1px solid #ccc;
  width: 96px;
  height: 96px;
  background-image: linear-gradient(45deg, #b2b2b2 25%, transparent 25%), linear-gradient(-45deg, #b2b2b2 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #b2b2b2 75%), linear-gradient(-45deg, transparent 75%, #b2b2b2 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  margin-right: 20px;
}

#toolbox-object-text-img {
  width: 64px;
  height: 64px;
}

#toolbox-object-image-img img,
#toolbox-object-text-img img {
  width: 100%;
  height: 100%;
}

.toolbox-object-name {
  margin-top: 0;
}

header {
  padding: 1em 0 1em 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.scene-thumbnails {
  padding: 0 20px;
  font-weight: normal;
  color: #BDBDDF;
  list-style: none;
  counter-reset: my-awesome-counter;
}

.scene-thumbnails li {
  counter-increment: my-awesome-counter;
  position: relative;
  margin-top: 10px;
  display: block;
}
.scene-thumbnails li::before {
  content: counter(my-awesome-counter) " ";
  color: #BDBDDF;
  position: absolute;
  left: -15px;
  top: 20px;
  opacity: 0.8;
  font-weight: lighter;
}

.scene-thumbnail {
  transition: 0.2s linear;
}

.scene-thumbnail:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	transition: 0.2s linear;
}


.scene-thumbnail img {
  width: 48px;
  height: 48px;
  border: 4px solid white;
  border-radius: 100px;
  box-shadow: 2px 2px 10px -3px rgba(180,180,226,0.8);
  cursor: pointer;
  display: block;
}

.scene-thumbnails-alt {
  display: none;
}

.scene-thumbnails-alt img {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin-right: 4px;
}

#artboard {
  margin-top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
}

#scenecanvas-list {

}

.scenecanvas {
  margin: 60px auto 0 auto;
  display: block;
  position: relative;
  width: 50vw;
  height: calc(50vw + 82px);
  background: white;
  border: 1px solid black;
}

.scenecanvas iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.scenecanvas-selected {
  border: 3px solid #9B5CFE;
}


@media only screen and (min-width: 1140px) {

  .toolbox-library-items {
    max-width: 240px;
  }

}
