{% extends 'nodes/base.html' %}

{% load staticfiles %}
{% load i18n %}
{% block title %} {% trans "Sign up" %}: {% trans "Fikra - the home of edutainment" %} {% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/signup.css" %}">
{% endblock %}

{% block article_main %}

<div class="main-container login">
  <h2>{% trans "Sign up" %}</h2>
  {% if form %}
  <form method="post" class="signup-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Sign up" %}</button>
  </form>
  {% else %}
    {% if 'message' %}
      <h4 class="signup-form-message">{{message}}</h4>
    {% endif %}

  {% endif %}

</div>

{% endblock %}
